@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
}
body {

}
header {
	height: 390px;
	width: 100%;
	background: rgb(77,106,201);
	background: -webkit-linear-gradient(310deg, rgba(77,106,201,1) 0%, rgba(35,87,116,1) 50%, rgba(48,107,172,1) 100%);
	background: -o-linear-gradient(310deg, rgba(77,106,201,1) 0%, rgba(35,87,116,1) 50%, rgba(48,107,172,1) 100%);
	background: linear-gradient(40deg, rgba(77,106,201,1) 0%, rgba(35,87,116,1) 50%, rgba(48,107,172,1) 100%);
	vertical-align: middle;
	display: flex;
	opacity: 100%;
}
.title {
	color: white;
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin: auto;
}
p {
	opacity: 0.7;
}
a:hover {
	text-decoration: none;
	color: #B0E0E6;
}
a {
	color: white;
}
.btn {
	display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    padding: 12px;
}
.left {
	margin-right: 10px;
}
.right {
	margin-left: 10px;	
}
.container {
	padding: 0;
}
.total {
	float: right;
}
.disk {
	font-size: 16px;
	font-family: 'Mukta', sans-serif;
	opacity: 0.7;
	text-decoration: none;
	color: black;
}

.off-white {
	color: purple;
}

.logo {
	margin-bottom: 10px;
}

@media screen and (max-width: 420px)  {
	.total {
		display: none;
	}
}

/* Preloader styles */


.outbody {
	opacity: 0;
	display: none;
}
body {
	margin: 0;
	padding: 0;
}
.preloader {
	z-index: 2;
	position: absolute;
	/*background: url(https://i.imgur.com/EEKU5FD.jpg);*/
	background: rgb(77,106,201);
	background: -webkit-linear-gradient(310deg, rgba(77,106,201,1) 0%, rgba(35,87,116,1) 50%, rgba(48,107,172,1) 100%);
	background: -o-linear-gradient(310deg, rgba(77,106,201,1) 0%, rgba(35,87,116,1) 50%, rgba(48,107,172,1) 100%);
	background: linear-gradient(40deg, rgba(77,106,201,1) 0%, rgba(35,87,116,1) 50%, rgba(48,107,172,1) 100%);
	width: 100%;
	height: 100%;
}
.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	animation-delay: 1s;
	z-index: 3;
	/* position: absolute; */
}
/* Код аниматора */
.item-1 {
  width: 20px;
  height: 20px;
  background: #6A5ACD;
  border-radius: 50%;
  background-color: #1269ff;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item-1:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2889ff;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 200ms;
  transition: 0.5s all ease;
  transform: scale(1);
}
.item-2 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #eece68;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item-2:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eece68;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 400ms;
  transition: 0.5s all ease;
  transform: scale(1);
}
.item-3 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #eec368;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item-3:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eec368;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 600ms;
  transition: 0.5s all ease;
  transform: scale(1);
}
.item-4 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #eead68;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item-4:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eead68;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 800ms;
  transition: 0.5s all ease;
  transform: scale(1);
}
.item-5 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #ee8c68;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item-5:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ee8c68;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 1000ms;
  transition: 0.5s all ease;
  transform: scale(1);
}
.done {
	display: none;
	opacity: 0;
}
.load {
	opacity: 1;
	display: block;
}
/* Код аниматора */
/* main.css */
.outbody {
	width: 100%;
	height: 100%;
}
/* main.css */
